@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body  {
    display: grid;
    background-image: url("./res/b-107.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed; 
    width: 100%;
    height: 100vh;
    
    grid-template-columns: 50px  repeat(2, 1fr) 50px;
    grid-template-rows: 200px;
}

.container-cards {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4;

    border: 1px solid #b0c4de55;
    border-radius: 20px;
    padding: 2rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.cards-in-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;    
}
header {
    position: absolute;
    display: flex;
    
    background: linear-gradient(45deg,  #b0c4deaa,  #6495edaa);
    
    justify-content: space-between;
    top:0%;
    left:0%;
    right: 0%;

    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    background-size: 200% 200%;
    animation: rotateAngle 5s infinite;

    z-index: 1;
}

#right-header {
    display: flex;
}

#header-text-in-card {
    display: flex;
    font-family: Balsamiq Sans, sans-serif;
    font-size: 16pt;
    justify-content: center;
}

#background-circle {
    background: linear-gradient(45deg, #00ffff, #ff1493);
    border-radius: 50%;
    margin: 10px;
    transition: 0.2s;

    background-size: 200% 200%;
    animation: rotateAngle 5s infinite;

}
#header-image {
    width: 10rem;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
}

#header-text {
    font-family: "Sour Gummy", cursive;
    font-size: 24pt;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.myCard {
    background-color: #9999cc55;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: blanchedalmond;
    transition: .2s;
    
}
.image-in-card {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.main-text-in-card {
    font-family: "Roboto Flex";
    font-weight: 600;
    font-size: 16pt;
}
.discription-in-card {
    font-family: "Roboto Flex";
}
#container-logo {
    display: flex;
    align-self: center;
}
 
.header-logo {
    height: 100px;
    width: 100px;
    margin: 0 5rem;
    transition: 0.3s;
}

#background-circle:hover {
    box-shadow: 0 0 10px black;
}
.header-logo:hover {
    transform: scale(1.1);
}

@keyframes rotateAngle {
    0% {
       background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.myCard:hover {
    transform: scale(1.1);
    background-color: #202a3bff;
    z-index: 2;
}

@media screen and (max-width: 800px) {
    .header-logo {
        display: none;
    }
    .cards-in-container {
        grid-template-columns: 1fr;
        
    }
}