header {
    position: absolute;
    display: flex;
    background: linear-gradient(to left, #b0c4deaa,  #778899aa);
    
    top:0%;
    left:0%;
    right: 0%;

    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#background-circle {
    background: linear-gradient(45deg, #00ffff, #ff1493);
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 10px black;
}
#header-image {
    width: 10rem;
    border-radius: 50%;
    padding: 5px;
}